.custom-navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 58px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.Header {
  margin-top: 58px; 
}

main {
  position: relative;
}

section {
  position: relative;
  z-index: 1;
}